.header {
  font-family: var(--font-inter);
  display: flex;
  justify-content: center;
}

.nav__list {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  list-style: none;
  padding: 0;
  transition-property: all 1000ms ;
}

.nav__item {
  font-size: 1.5rem;
  margin: 0 1rem;
  padding: 0.5rem 0;
}

.nav__bar {
  margin: 0 1rem;
  display: block;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, hsl(37, 100%, 58%), hsl(34, 99%, 58%));
  grid-column-start: 1;
  grid-row: 2;
  transition: 300ms ;
}