.mastheadAlpha, .mastheadName, .masthead p {
  line-height: var(--globals-line-height);
  font-size: 1rem;
  font-weight: 400;
}

.masthead {
  margin: 4rem;
}

.nameWrapper {
  transform: translate(-10px, 0);
}

.navGroup {
  display: relative;
  /* justify-content: flex-start;
  align-items: center;
  gap: 0.2rem;
  transition: 0.2s; */
}

.navGroup:hover {
  cursor: pointer;
  gap: 0.5rem;
}

.arrowLeft {
  position: relative;
  opacity: 0;
  transition: 0.3s;
}


.navGroup:hover .arrowLeft {
  opacity: 1;
}

.navArrow {
  stroke: rgb(var(--accent-rgb));
}

.navItemWrapper {
  display: inline-block;
}

.container {
  display: block;
  /* transition: 0.3s; */
}

.cube {
  width: 100%;
  height: 100%;
  perspective-origin: top;
  perspective: 200px;
  transform-style: preserve-3d;
}

.top, .front, .overlay {
  display: block;
  position: absolute;
  width: 32rem;
  height: 1.4rem;
  border: none;
  backface-visibility: hidden;
  transition: 0.4s;
}

.overlay {
  z-index: 100;
  overflow: hidden;
}

.overlay:hover .top {
  transform: rotateX(0deg) translateZ(12px);
}

.overlay:hover .front {
  transform: rotateX(-90deg) translateZ(12px);
}

.top {
  transform: rotateX(90deg) translateZ(12px);
}

.front {
  transform: rotateX(0deg) translateZ(12px);
}

