.navigation {
  grid-column: 3;
  grid-row: 1;
  display:inline-block;
  z-index: 5000;
}
.navigation li {
  list-style: none;
  text-align: right;
  line-height: var(--globals-line-height);
}

.navGroup {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.2rem;
  transition: 0.2s;
}

.navGroup:hover {
  cursor: pointer;
  gap: 0.5rem;
}

.arrowRight {
  position: relative;
  opacity: 0;
  transition: 0.3s;
}

.navGroup:hover .arrowRight {
  opacity: 1;
}

.navArrow {
  stroke: rgb(var(--accent-rgb));
}

.navItemWrapper {
  display: inline-block;
}